@import "./fonts.css";


:root {
  --color-btn : #D2D727;
  --font-btn : "Canela Deck";
  --color-text : #05525A;
  --font-text : "Cormorant Garamond"
}

html {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
}

h1,span,h2,p {
  margin: 0;
  padding: 0;
}